body {
    background-color: #daf3ff;
}

#fundo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#tituloPrincipal{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#areaAdicionarTarefa {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#CampoDescricao {
    width: 39vw;
    border-radius: 5px;
    height: 2.5vw;
    border: none;
    background-color: #d9d9d9;
    color: #737373;
    margin-right: 5px;
    padding-left: 11px;
    font-weight: 600;
}

#btnAdicionaTarefa {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: transform 0.2s;
    width: 4vw;
    height: 2.5vw;
    background-color: #d9d9d9;
    color: #737373;
}

#btnAdicionaTarefa:active {
    transform: scale(0.80);
}

.cf-icon-svg {
    max-width: 100%;
    height: auto;
}

table{
    width: 44vw;
    margin-top: 2vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    background-color: aqua;
}

tbody{
    width: 100%;
    background-color: violet;
}

.linhas{
    background-color: #d9d9d9;
}

.colunaCheckBox{
    border: 1px solid #545454;
    width: 17px;
    height: 17px;
    color: #daf3ff;
}

.colunaDescricao{
    width: 34vw;
    color: #737373;
}

.colunaAlterar{

}

.colunaExcluir{

}